// site colors
$primary: #2c2c2c;
$secondary: #0c5f4c;
$tertiary: #063974;
$quaternary: #50e3c2;
$quinary: #d2f9f1;
$iceBlue: #fafffe;

// site fonts
$headingFont: 'Playfair Display SC', sans-serif;
$bodyFont: 'Lato', sans-serif;