// site colors
$primary: #2c2c2c;
$secondary: #0c5f4c;
$tertiary: #063974;
$quaternary: #50e3c2;
$quinary: #d2f9f1;
$iceBlue: #fafffe;

// site fonts
$headingFont: 'Playfair Display SC', sans-serif;
$bodyFont: 'Lato', sans-serif;


// text styles
@mixin logo-small {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 1.73rem; /* 34.6px */
    text-align: center;
    color: $quaternary;
}

@mixin nav {
    font-family: $bodyFont;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
    color: $iceBlue;
}

@mixin button-style ($width, $height) {
    font-family: $headingFont;
    font-weight: 900;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: center;
    width: $width;
    height: $height;
    background-color: $tertiary;
    color: $iceBlue;
}

@mixin heading ($size, $spacing) {
    font-family: $bodyFont;
    font-weight: 700;
    font-size: $size;
    letter-spacing: $spacing;
    line-height: 58px;
    text-align: center;
    color: $iceBlue;
}

@mixin body-text {
    font-family: $bodyFont;
    font-weight: 400;
    font-size: 1rem; // 20px //
    line-height: 32px;
    letter-spacing: 2px;
}


// ai na hora de chamar isso ficaria:
// h3 {

// }
// @include heading(30px, 1px);