.about {
  display: flex;
  margin: 10% 0;
  h4 {
    @include heading(1.5rem, 3.2px);
    color: $secondary;
    text-align: left;
  }
  p {
    @include body-text;
  }
}

.container-one,
.container-two {
  display: flex;
  justify-content: space-between;
  .about-info {
    width: 45%;
  }
  .about-content {
    display: flex;
    align-items: center;
    h4 {
      padding-left: 15px;
    }
    p {
      padding-left: 80px;
    }
    i::before {
      padding: 15px;
      border-radius: 50%;
      color: $iceBlue;
      background-color: $quaternary;
    }
  }
}
