.container-plan-ahead {
  display: flex;
  background-color: $quinary;
  h3 {
    @include heading(1.75rem, 3.8px);
    color: $secondary;
    margin-bottom: 0;
    text-align: left;
  }
  p {
    @include body-text;
    margin-top: 5px;
    margin-bottom: 10px;
    // width: 40%;
  }
  a {
    @include anchor-style(160px, 50px);
    padding: 5px;
  }
  img {
    box-shadow: 20px 20px $quaternary;
    top: -10;
  }
}

.plan-ahead {
  display: block;
  margin-bottom: 30px;
  .img-plan {
    display: flex;
    width: 100%;
  }
  .plan-text {
    margin-left: 10%;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 50%;
  }
}

.new-locations {
  h3 {
    text-align: right;
    margin-top: -10px;
  }
  .location-text {
    margin-left: 10%;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: right;
    width: 50%;
    margin-right: 0;
  }
}

//BANNER
.banner {
  img {
    position: relative;
  }
}
