.visit-guyana {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 150px 0px;
        text-align: left;
    }

    .image-container {
        box-shadow: -20px 20px $quaternary;
        display: flex;
        img {
            display: block;
        }
    }
}

.text-container {
    h3 {
        @include heading(1.75rem, 3.8px);
        color: $secondary;
        margin-bottom: 0;
        text-align: left;
    }
    p {
        @include body-text;
        margin-top: 5px;
        margin-bottom: 15px;
        width: 90%;
    }
    a {
        @include anchor-style(210px, 40px);
        padding: 5px;
    }
}