.visit-guyana {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 120px 0px;
        text-align: left;
    }

    .image-container {
        box-shadow: -20px 20px $quaternary;
        display: flex;
        img {
            display: block;
        }
    }
}

.text-container {
    @include heading(1.75rem, 3.8px);
    color: $secondary;
    margin-bottom: 0;
    p {
        @include body-text;
        color: $primary;
        margin-top: 0;
        margin-bottom: 0;
        width: 90%;
    }
    a {
        @include button-style(210px, 45px);

    }
}