.post-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .post {
        width: 70%;
        margin-top: 460px;
        margin-left: 10%;
        p {
        width: 90%;
        padding-bottom: 30px;
        @include body-text;
        }
        h3 {
        @include heading (1.6rem, 3.2px);
        color: $secondary;
        text-align: left;
        }
    .sidebar {
        position: relative;
        margin-top: 600px;
        margin-left: 10%;
        margin-right: 0;
        p {
            @include body-text;
        }
        .sidebar-img {
        position: absolute;
        display: flex;
        top: -400px;
        right: 0;
        padding: 0;
        max-width: 600px;
        object-fit: cover;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
        }
    }
}

.sidebar {
    .our-mission {
        padding: 20px 0 0px 55px; 
    }
    .recent-posts {
        padding: 20px 0 0px 55px;
        p::before {
            content: '\2022';
            color: $quaternary;
            display: inline-block;
            width: 0.8rem;
        }
    }
    .sidebar-post {
        margin-left: 330px;
    }
}

.comments {
    p {
            margin-top: 0;
            padding-top: 0;
        }
    }
    h4 {
        @include heading (1.5rem, 3.2px);
        color: $secondary;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: left;      
    }
    h5 {
        @include heading (1rem, 3px);
        color: $tertiary;
        margin-top: 5px;
        text-align: left;
        line-height: 0;
        }
    .comment-posted {
        display: flex;
        // padding-left: 20px;
        .comment-one {
            padding-left: 20px;
            } 
    }
    .comment-posted-two {
        display: flex;
        // padding-left: 20px;
        margin-top: 60px;
        .comment-two {
            padding-left: 20px;
        }
    }
}


.article {
    padding-top: 50px;
    border-right: 2px solid $quaternary;
    border-bottom: 2px solid $quaternary;
}



