.logo {
    display: flex;
    @include logo-small;
    width: 50%; 
    }

.background {
    // display: flex;
    height: 80vh;
    background: url("../project-folders/blog/assets/blog-image-1.jpg") center / cover no-repeat;
    position: relative;
    .post-img {
        position: absolute;
        display: flex;
        bottom: -440px;
        left: 0;
        margin: 0;
        padding: 0;
        box-shadow: 20px 20px $quaternary;
        max-width: 942px;
        width: 100%;
        img {
            width: 100%;
            height: 100%
        }
    } 
}
// Navbar - shared 
.navbar {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}
// 


.header-content {
    height: 100%;
    margin-left: 10%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        @include heading (4.35rem, 9px);
        color: $iceBlue;
        margin-bottom: 0;
        align-self: start;
        z-index: 5;        
    }
}