html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 125%;
  color: #2c2c2c;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 125%;
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-size: 1.73rem;
  /* 34.6px */
  text-align: center;
  color: #50e3c2;
  width: 50%;
}

.background {
  height: 100vh;
  background-image: url("../project-folders/home/assets/home-image-1.jpg");
  position: relative;
  background-size: cover;
}

.background .header-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -85px;
  left: 0;
  margin: 0;
  padding: 0;
  max-width: 700px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.background .header-box img {
  width: 100%;
  height: 100%;
}

.header-content {
  height: 100%;
  width: 60%;
  margin: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content h1 {
  font-family: "Playfair Display SC", sans-serif;
  font-size: 5.56rem;
  font-weight: 900;
  color: #063974;
  margin-top: 0;
  z-index: 5;
}

.header-content h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3.1rem;
  letter-spacing: 6.7px;
  line-height: 58px;
  text-align: center;
  color: #0c5f4c;
  margin-bottom: 0;
  text-align: center;
  z-index: 5;
}

.nav-bar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 29px;
  width: 100%;
  font-size: 1rem;
  color: #fafffe;
  text-decoration: none;
  text-transform: uppercase;
}

.visit-guyana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visit-guyana .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 120px 0px;
  text-align: left;
}

.visit-guyana .image-container {
  -webkit-box-shadow: -20px 20px #50e3c2;
          box-shadow: -20px 20px #50e3c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visit-guyana .image-container img {
  display: block;
}

.text-container h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 3.8px;
  line-height: 58px;
  text-align: center;
  color: #0c5f4c;
  margin-bottom: 0;
}

.text-container p {
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
}

.text-container a {
  font-family: "Playfair Display SC", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 1px;
  text-align: center;
  width: 210px;
  height: 45px;
  background-color: #063974;
  color: #fafffe;
}

.text-container a:hover {
  background-color: #fafffe;
  border: 2px solid #063974;
  color: #063974;
}

.text-container a:focus {
  background-color: #fafffe;
  border: 1px solid #063974;
  color: #063974;
}

.gallery {
  padding: 100px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d2f9f1;
}

.gallery img {
  width: 30%;
}

.container-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan-ahead {
  background-color: #d2f9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.plan-ahead .img-plan {
  -webkit-box-shadow: 20px 20px #50e3c2;
          box-shadow: 20px 20px #50e3c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plan-ahead .img-plan img {
  display: block;
}

.plan-text h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 3.8px;
  line-height: 58px;
  text-align: center;
  color: #0c5f4c;
  margin-bottom: 0;
}

.plan-text p {
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
  width: 40%;
}

.plan-text a {
  font-family: "Playfair Display SC", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 1px;
  text-align: center;
  width: 160px;
  height: 50px;
  background-color: #063974;
  color: #fafffe;
}

.plan-text a:hover {
  background-color: #fafffe;
  border: 2px solid #063974;
  color: #063974;
}

.plan-text a:focus {
  background-color: #fafffe;
  border: 1px solid #063974;
  color: #063974;
}

.banner img {
  width: 100%;
}

.trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 8% 15%;
}

.trip h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 3.8px;
  line-height: 58px;
  text-align: center;
  color: #0c5f4c;
}

.trip p {
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 15px 0;
}

.trip a {
  font-family: "Playfair Display SC", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 1px;
  text-align: center;
  width: 210px;
  height: 45px;
  background-color: #063974;
  color: #fafffe;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.trip a:hover {
  background-color: #fafffe;
  border: 2px solid #063974;
  color: #063974;
}

.trip a:focus {
  background-color: #fafffe;
  border: 1px solid #063974;
  color: #063974;
}

footer {
  background-color: #2c2c2c;
}

footer p {
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
  text-align: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-size: 1.73rem;
  /* 34.6px */
  text-align: center;
  color: #50e3c2;
  width: 50%;
}

.background {
  height: 80vh;
  background: url("../project-folders/blog/assets/blog-image-1.jpg") center/cover no-repeat;
  position: relative;
}

.background .post-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -440px;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 20px 20px #50e3c2;
          box-shadow: 20px 20px #50e3c2;
  max-width: 942px;
  width: 100%;
}

.background .post-img img {
  width: 100%;
  height: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content {
  height: 100%;
  margin-left: 10%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 4.35rem;
  letter-spacing: 9px;
  line-height: 58px;
  text-align: center;
  color: #fafffe;
  margin-bottom: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  z-index: 5;
}

.post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-content .post {
  width: 70%;
  margin-top: 460px;
  margin-left: 10%;
}

.post-content .post p {
  width: 90%;
  padding-bottom: 30px;
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}

.post-content .post h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 3.2px;
  line-height: 58px;
  text-align: center;
  color: #0c5f4c;
  text-align: left;
}

.post-content .post .sidebar {
  position: relative;
  margin-top: 600px;
  margin-left: 10%;
  margin-right: 0;
}

.post-content .post .sidebar p {
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}

.post-content .post .sidebar .sidebar-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -400px;
  right: 0;
  padding: 0;
  max-width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-content .post .sidebar .sidebar-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-content .sidebar .our-mission {
  padding: 20px 0 0px 55px;
}

.post-content .sidebar .recent-posts {
  padding: 20px 0 0px 55px;
}

.post-content .sidebar .recent-posts p::before {
  content: '\2022';
  color: #50e3c2;
  display: inline-block;
  width: 0.8rem;
}

.post-content .sidebar .sidebar-post {
  margin-left: 330px;
}

.post-content .comments p {
  margin-top: 0;
  padding-top: 0;
}

.post-content h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3.2px;
  line-height: 58px;
  text-align: center;
  color: #0c5f4c;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.post-content h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 3px;
  line-height: 58px;
  text-align: center;
  color: #063974;
  margin-top: 5px;
  text-align: left;
  line-height: 0;
}

.post-content .comment-posted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-content .comment-posted .comment-one {
  padding-left: 20px;
}

.post-content .comment-posted-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.post-content .comment-posted-two .comment-two {
  padding-left: 20px;
}

.article {
  padding-top: 50px;
  border-right: 2px solid #50e3c2;
  border-bottom: 2px solid #50e3c2;
}

form {
  background-color: white;
  padding: 10px;
}

.form-container .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container input {
  width: 48%;
  border-bottom: 1px solid #50e3c2;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
  padding: 20px 20px;
}

textarea {
  border: 1px solid #50e3c2;
  resize: none;
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  width: 100%;
}

button {
  background-color: #063974;
  border: none;
  color: #fafffe;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Playfair Display SC", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 0;
  letter-spacing: 1px;
  margin: 40px 0;
  text-align: center;
  width: 100%;
  height: 40px;
}

button:hover {
  background-color: #d2f9f1;
  border: 2px solid #0c5f4c;
  color: #063974;
}

button:focus {
  background-color: #d2f9f1;
  border: 2px solid #0c5f4c;
  color: #063974;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-size: 1.73rem;
  /* 34.6px */
  text-align: center;
  color: #50e3c2;
  width: 50%;
}

.background {
  height: 80vh;
  background-image: url("../project-folders/contact/assets/contact-image-1.jpg");
  position: relative;
  background-size: cover;
}

.background .contact-form {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -400px;
  left: 10%;
  margin: 0;
  padding: 0;
  max-width: 700px;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content {
  height: 60%;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 4.35rem;
  letter-spacing: 9px;
  line-height: 58px;
  text-align: center;
  color: #fafffe;
  margin-bottom: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  z-index: 5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 70px auto;
  -webkit-box-shadow: 20px 20px #50e3c2;
          box-shadow: 20px 20px #50e3c2;
  font-family: "Lato", sans-serif;
  width: 60%;
  top: -230px;
}

form {
  background-color: white;
  padding: 10px;
}

.container-form .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-form input {
  width: 48%;
  border-bottom: 1px solid #50e3c2;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
  padding: 20px 20px;
}

.container-form textarea {
  border: 1px solid #50e3c2;
  resize: none;
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
  width: 100%;
}

.container-form button {
  background-color: #063974;
  border: none;
  color: #fafffe;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Playfair Display SC", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 0;
  letter-spacing: 1px;
  margin: 40px 0;
  text-align: center;
  width: 100%;
  height: 40px;
}

.container-form button:hover {
  background-color: #d2f9f1;
  border: 2px solid #0c5f4c;
  color: #063974;
}

.container-form button:focus {
  background-color: #d2f9f1;
  border: 2px solid #0c5f4c;
  color: #063974;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 150px;
}

.social-media address {
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 32px;
}

.social-media a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: 200;
}

.social-media .email {
  font-weight: bold;
  margin-bottom: 20px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.social-icons a {
  padding: 10px;
}
